<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		{{#if user}}
		<p>Hello, {{user.username}}. View your <a href="/profile">profile</a>.</p>
		{{else}}
		<p>Welcome! Please <a href="/login">log in</a>.</p>
		{{/if}}
	</div>

</div>