<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="/login" method="post">
                <legend>Login</legend>
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input type="text" class="form-control" id="login-username" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" name="password"
                        placeholder="password">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
        <a href="/auth/github">Log in With GitHub</a>
    </div>
</div>