body {
	font-family: Helvetica;
	font-size: 18px;
}

.calculate-button {
	border: 2px solid;
	border-radius: 0.5em;
	padding: 0.5em;
	font-size: 1em;
	background-color: #eee;
}

.calculator-container {
	width: 240px;
	margin: auto;
	
	display: flex;
	flex-direction: column;
	
	padding: 2em;
}

.calculator-input-container {
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

.calculator-input-container > input {
	border: 2px solid;
	border-radius: 0.5em;
	padding: 0.5em;
	font-size: 1em;
}

.calculator-input-container > label {
	font-size: 0.75em;
	font-weight: bold;
	margin: 0.25em;
	
}

.calculator-display-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.5em;
	margin-bottom: 0;
}

.calculator-display-container > span:first-child {
	font-weight: bold;
}

.tip-percent {
	display: flex;
	justify-content: space-between;
}

.tip-percent > button {
	flex: 1;
	margin: 5px;
}

.tip-percent > button {
	flex: 1;
	margin: 5px;
}

.tip-percent > button:first-child {
	margin-left: 0;
}

.tip-percent > button:last-child {
	margin-right: 0;
}


.tip-selected {
	background-color: #000;
	color: #fff;
}