body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.Header, .Footer {
  padding: 2em;
  background-color: darkslategrey;
  color: #eee;
}

.Header > a {
  display: inline-block;
  padding: 0 1em;
  color: #fff;
  text-decoration: none;
}

