body {
  background: #cdf;
}

.container {
  width: 400px;
  margin: auto;
}

.image-grid {
  width: calc(112px * 4);
  margin: auto;
  padding: 0;
  border: 1px solid #000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image-grid > li {
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 5px;
  overflow: hidden;
  border: 1px #000 solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em 0.4em;
  background-color: rgba(255, 255, 255, 0.5);
}

.image-image {
  display: block;

}
