.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input, button {
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 0.5em;
  font-size: 1em;
  margin: 0;
}

input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button {
  background-color: rgb(22, 133, 208);
  border-color: #000;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.WeatherDisplay {
  margin: 1em;
}

.WeatherDisplay > * {
  margin: 1rem;
}

.WeatherDisplay > *:nth-child(1) {
  font-size: 1.5em;
  font-weight: bold;
}

.WeatherDisplay > *:nth-child(3) {
  font-size: 3em;
  font-weight: bold;
}

.atmosphere {
  font-size: 0.75em;
}



