{% extends 'base.html' %}

{% block content %}

<p>Author creation form.</p>

<form method="POST" action="{{ url_for('main.create_author') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter an author</legend>

        {{ form.name.label }}
        {{ form.name }}
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.biography.label }}
        {{ form.biography }}
        <ul>
        {% for error in form.biography.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
            
        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}