<!DOCTYPE html>
<html>
    <head>
        <title>My Plants</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    </head>
    <body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>

        {% block content %}{% endblock %}


        <footer><div>
            Copyright 2020 @ makeschool.com
        </div></footer>

        <script src="/static/index.js"></script>
    </body>
</html>