<form action='/new' method='post' enctype="multipart/form-data">
  <div><input type='text' placeholder='name' name='name'></div>
  <div><input type='file' placeholder='image' name='image'></div>
  <div><button type='submit'>Submit</button></div>
</form>
