/* Container styles */
.container {
  width: 200px;
  height: 200px;
  border: 1px solid;
  position: relative;
}

/* Style all of the child divs */
/* These styles shared by all children */
.container > div {
  position: absolute;
  border-radius: 0 70% 40% 70%;
  border: 1px solid;
  width: 120px;
  height: 120px;
  /* Position these in the center */
  left: 10px;
  top: 50px;
  /* Rotate 45 deg points the point at the top */
  transform: rotate(45deg);
  /* Move the point of transformation to the lower right */
  transform-origin: 90px 90px;
  animation-duration: 6000ms;
  animation-iteration-count: 1;
  /* Important! Without this the elements will snap
  to their starting positions when the animation ends! */
  animation-fill-mode: forwards;
}

/* These styles apply to individual children */

.container > div:nth-child(1) {
  animation-name: bloom-1;
  background-color: hsla(0, 100%, 50%, 0.21);
}

.container > div:nth-child(2) {
  animation-name: bloom-2;
  background-color: hsla(60, 100%, 50%, 0.21);
}

.container > div:nth-child(3) {
  background-color: hsla(120, 100%, 50%, 0.21);
}

.container > div:nth-child(4) {
  animation-name: bloom-4;
  background-color: hsla(180, 100%, 50%, 0.21);
}

.container > div:nth-child(5) {
  animation-name: bloom-5;
  background-color: hsla(240, 100%, 50%, 0.21);
}

@keyframes bloom-1 {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(-45deg); }
}

@keyframes bloom-2 {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(135deg); }
}

@keyframes bloom-4 {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(0deg); }
}

@keyframes bloom-5 {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(90deg); }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
}
