<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>New Event</h3>
        </div>
        <div class="card-text">
          <form action="/events" method="post">
            {{> events-form }}
            <div class="text-right">
              <a href="/" class='text-muted mr-2'>Cancel</a>
              <button type="submit" class="btn btn-primary" name="button">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
