<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>New RSVP</h3>
          <div class="lead">
            Event: {{event.title}}
          </div>
        </div>
        <div class="card-text">
          <form action="/events/{{event.id}}/rsvps" method="post">
            <div class="form-group">
              <label for="title">Name</label>
              <input name="name" class="form-control" placeholder="Jane Doe" />
            </div>
            <div class="form-group">
              <label for="title">Email</label>
              <input name="email" class="form-control" placeholder="Jane.Doe@gmail.com" />
            </div>
            <div class="text-right">
              <a href="/" class='text-muted mr-2'>Cancel</a>
              <button type="submit" class="btn btn-primary" name="button">Save</button>
            </div>
          </form>
          <form action="/events"
        </div>
      </div>
    </div>
  </div>
</div>
