<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <legend>New Pet</legend>
    <form action="#" id="post-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">  
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>  
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
    