<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <legend>Register</legend>
    <form action="/sign-up" id="sign-up-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password"/>
      </div>
      <div class="form-group">
        <label for="confirm">Password Confirm</label>
        <input type="password" name="confirm" class="form-control" placeholder="Password Confirm"/>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Login</button>  
      </div>
    </form>    
  </div>
</div>
