body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 70%;
    background-color: white;
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 5px;
    font-size: 1.2em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit] {
    width: 100px;
    align-self: flex-end;
}

div.store {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

div.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.item-details {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 300px;
}