<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1>Weather App</h1>
            {% block content %}
            {% endblock %}
            <section>
                <p>
                    This Weather App was developed by Make School students © 2020.
                </p>
            </section>
        </main>
    </body>
</html>