:root {
  --base-font-weight: 400;
  --base-color: white;
  /* --sidebar-width: 22rem; */
  --sidebar-nav-link-before-content: "";
  --sidebar-nav-link-before-content-l3: "";
  --sidebar-name-font-weight: 500;
  --search-result-heading-font-size: 1em;
  --search-result-item-font-size: 0.9em;
  --search-result-heading-font-weight: 400;
  --search-result-heading-margin: 0 0 0.1em;
  --heading-font-weight: 500;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 2.5em;
  --notice-font-style: italic;
  --notice-font-weight: 500;
  --blockquote-em-font-style: normal;
  --blockquote-em-font-weight: 700;
  --blockquote-font-style: italic;
  --blockquote-font-weight: 500;
  --code-font-size: 1.1em;
  --code-font-weight: 500;
  --code-tab-size: 2;
}

body {
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

article h1:first, section h1:first {
  display: none;
}

.sidebar>h1 {
  margin: 2.3rem auto 1rem;
}

.sidebar>h1>a>img {
  height: auto;
}

.markdown-section {
  max-width: 85%;
}

.sidebar-nav>ul:nth-child(1)>li>a.section-link, .sidebar-nav>ul:nth-child(1)>li>ul.children>li>a.section-link {
  display: block;
}

#main>h1:nth-child(1) {
  display: none;
}

#main>h1:nth-child(1)[id] {
  display: block;
}

.sidebar ul li a {
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar ul li strong {
  display: inline-block;
  vertical-align: top;
}

.sidebar ul li strong a {
  font-weight: 700;
}

.sidebar ul li ul.app-sub-sidebar li a {
  font-weight: 400;
}

.sidebar ul li ul.app-sub-sidebar li a.active {
  font-weight: 700;
}

body .docsify-copy-code-button {
  background: none !important;
  line-height: 1.5rem;
  position: absolute;
  word-wrap: normal;
  font-size: .7rem;
  font-weight: 700;
  left: 0;
  height: 25px;
  top: -4px;
  text-align: center;
}

body .docsify-copy-code-button.success {
  color: #11A31B;
}

.app-name-link img {
  height: 150px;
  width: 150px;
}

table>tbody>tr>td::before {
  display: none;
}

a.github-corner {
  display: none;
}

.markdown-section pre>code {
  font-size: 0.9rem;
}

a:hover, #main>ul>li>a {
  text-decoration-style: dashed;
}

#main>h1:nth-child(1)[id] {
  display: none;
}
