
{% extends 'base.html' %}

{% block title %} makereddit {% endblock %}

{% block content %}
<main role="main" class="container" style="margin-top: 4vh;">
  
  <h3>Posts <small class="text-muted"> </small></h3>
  <hr>
  
  <div id="posts-container">
  
    <!-- TODO: Use a for loop to loop over all posts sent from the server
      (and delete the second filler post). -->

    <!-- TODO: Replace all instances of 'REPLACE_ME_WITH_ID' with each post's 
      '_id' field. -->

    <!-- TODO: Use each post's author, text, and url fields to correctly display 
      the data. -->

    <!-- STRETCH GOAL: Display the correct number of upvotes for each post. 
      (HINT: Use the |length operator to get the length of a list.) -->

    <!-- STRETCH GOAL: If the post is upvoted by the current user, add the
      'upvote' class to the 'vote-box' div. Otherwise if it is downvoted, add
      the 'downvote' class. -->
    <div class="card mb-3" style="display: flex; flex-direction: row;">
      <div class="vote-box">
        <a onclick="upvote(this, 'REPLACE_ME_WITH_ID');"><i class="fas fa-arrow-up"></i></a>
        <p class="numvotes">
          1
        </p>
        <a onclick="downvote(this, 'REPLACE_ME_WITH_ID');"><i class="fas fa-arrow-down"></i></a>
      </div>
      <div class="card-body border-dark">
        <p class="post-title card-text text-dark">
          <small class="text-muted">Posted by <b>Lorem Ipsum</b></small>
          <h4>
            <a href="https://loremipsum.io/">Lorem ipsum dolor sit amet</a>
          </h4>
          <hr>
          <div class="text-right"><a href="/detail/REPLACE_ME_WITH_ID" title="Read More">Read More</a></div>
        </p>
      </div>
    </div>

    <div class="card mb-3" style="display: flex; flex-direction: row;">
        <div class="vote-box">
          <a onclick="upvote(this, 'REPLACE_ME_WITH_ID');"><i class="fas fa-arrow-up"></i></a>
          <p class="numvotes">
            1
          </p>
          <a onclick="downvote(this, 'REPLACE_ME_WITH_ID');"><i class="fas fa-arrow-down"></i></a>
        </div>
        <div class="card-body border-dark">
          <p class="post-title card-text text-dark">
            <small class="text-muted">Posted by <b>Lorem Ipsum</b></small>
            <h4>
              <a href="https://loremipsum.io/">Lorem ipsum dolor sit amet</a>
            </h4>
            <hr>
            <div class="text-right"><a href="/detail/REPLACE_ME_WITH_ID" title="Read More">Read More</a></div>
          </p>
        </div>
      </div>
  
  </div>

</main>
{% endblock %}