.box {
  width: 100px;
  height: 100px;
}

.a {
  background-color: red;
  transform: translate(0px, 50px) rotate(45deg);
}

.b {
  background-color: blue;
}

.c {
  background-color: green;
  transform: translate(-10px, 80px);
}

.container {
  width: 400px;
  height: 400px;
  border: solid 3px #000;
}