<!doctype html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <!-- Content from templates here! -->
      {{{body}}}
    </div>
    
    <script></script>
  </body>
</html>
