/* Style rules - written in CSS */
:root {
  /* These are Global CSS Variables. We can access these anywhere in the styles */
  --button-color: #fff; 
  --transition-time: 400ms;
	--min-xy: calc(-100px - 0px);
  --max-xy: calc(500px + 32px);
  
  /* Swap player for  */
  --player-image: url(./images/pink-default.gif);
  --background-image: url(./images/wall-1.png);
  --bomb-image: url(./images/bomb-default.gif);
  --fruit-apple: url(./images/apple.png);
  --fruit-strawberry: url(./images/strawberry.png);
  --fruit-lemon: url(./images/lemon.png);
  --explosion: url(./images/explosion-1.gif);
  --explosion-sparkly: url(./images/explosion-3.gif);
}

body, html {
  height: 100%; 
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #ddd;
  color: #444;
  font-family: Helvetica;
}

/* -- Game Screen Styles -- */
/* all of the styles for the sprites and background go here */

#game-screen {
  /* These are local CSS variables. We can only access these on #game-screen */
  --x: 0;
  --y: 0;
  
  position: relative;
  height: 500px;
  width: 500px;
  border: solid 2px #666;
  background-image: var(--background-image); /* this is how we access variables in CSS */
  
  /* Later we will change the --x and --y local variables with 
  JavaScript to move the background when the player sprite is moved */
  background-position: calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px);
  transition: var(--transition-time);
  
  /* Remove the comment below to hide elements that appear outside 
  the area of #game-screen */
  /* overflow: hidden; */
}

/* This is the styles of the player sprite */
#sprite {
  /* Local Variables */
  --x: 0;
  --y: 0;
  --direction: 1;

  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
  background-color: transparent;
  background-image: var(--player-image);
  background-repeat: no-repeat;
  background-position: center;
  
  /* This is what allows us to move the player sprite later.
     In the JavaScript we will update the --x and --y local variables 
     which will move the sprite to a new location */
  transform: 
    translateX(calc(var(--x, 0) * 1px))
    translateY(calc(var(--y, 0) * 1px))
    scaleX(var(--direction)); 
    
    /*  */
    /* transition: var(--transition-time); */
}

.bomb {
	width: 64px;
	height: 64px;
	background-image: var(--bomb-image);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

/* Sets up all the sprites to appear as the fruits */
.strawberry { background-image: var(--fruit-strawberry); }
.lemon { background-image: var(--fruit-lemon); }
.apple { background-image: var(--fruit-apple); }

/* Applies the same styles to all the different fruits */
.strawberry, .lemon, .apple, .fruit {
  width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.explosion {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
	background-position: center;
  position: absolute;
  background-image: var(--explosion);
}

.explosion-sparkly {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
	background-position: center;
  position: absolute;
  background-image: var(--explosion-sparkly);
}

/* -- Controls Styles -- */
/* All of the styles for the controls below the game go here */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.button {
  /* Local Variables */
  --text-color: #ddd;
  --size: 64;

  color: var(--button-color);
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  border: solid 4px var(--button-color);
  text-align: center;
  line-height: calc(var(--size) * 1px); 
  margin: 5px;
  transition: 200ms;
  box-shadow: 0 0 0 var(--button-color) inset;
}

.button:hover {
  /* background-color: var(--button-color); */
  box-shadow: 0 0 80px var(--button-color) inset;
  color: var(--text-color); 
}