<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Famous Amos' Pets</title>

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/js-cookie/src/js.cookie.js"></script>

    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/pets.js"></script>
    <script src="/javascripts/comments.js"></script>
</head>

<body>
  {{> navbar}}
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>