body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  border: 1px solid;
  padding: 1em;
  width: 60px;
  margin: 0.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

button:active {
  color: #fff;
  background-color: #000;
}
